@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    var ListSlides = (List<Model.EF.Slide>)ViewBag.Slides;
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_layoutC.cshtml";
    var ListProduct = (List<Model.EF.Product>)ViewBag.ListProduct;
}
@section slide
{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <div id="menu">
                    <ul>
                        <h3>Danh Mục Sản Phẩm</h3>
                        @{ Html.RenderAction("ListCategory", "Product");}
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        <div class="slide" id="slide-1">
                            <div class="slider-img">
                                <a href="preview.html"><img src="/Areas/Client/images/slide-1-image.png" alt="learn more" /></a>
                            </div>
                            <div class="slider-text">
                                <h1>Clearance<br><span>SALE</span></h1>
                                <h2>UPTo 20% OFF</h2>
                                <div class="features_list">
                                    <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                                </div>
                                <a href="preview.html" class="button">Shop Now</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @foreach (var item in ListSlides)
                        {
                            <div class="slide">
                                <div class="slider-img">
                                    <a href="preview.html"><img src="@item.Image" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1>Clearance<br><span>SALE</span></h1>
                                    <h2>UPTo 20% OFF</h2>
                                    <div class="features_list">
                                        <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                                    </div>
                                    <a href="preview.html" class="button">Shop Now</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
}
<div class="content">
     <div class="clear"></div>
    <div class="content_top">
        <div class="heading">
            <h3>New Products</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <p>

            @using (Html.BeginForm("ProductCategory", "Product", FormMethod.Post))
            {
                <input class="search_box" value="@ViewBag.searchString" type="text" placeholder="Tim kiem" name="searchString" />
                <button type="submit" class="label-info" id="btn">Search</button>
            }

        </p>
        <div class="clear"></div>
    </div>

        @Html.PagedListPager(Model, page => Url.Action(("ProductCategory"), new { page, @searchString = @ViewBag.searchString }))
  
    <div class="section group">
        @foreach (var item in Model)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" style="width:212px; height:212px" alt="@item.Image" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Lien he")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
    </div>
   
</div>
<script>
    document.getElementById("btn").style.visibility = "hidden";
</script>
