@model  PagedList.IPagedList<Model.EF.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout2.cshtml";
}

<h2>Danh mục sản phẩm</h2>

<p>
    <button type="button" class="btn btn-success"> @Html.ActionLink("Create New", "Create", null, new { style = "color:aliceblue" })</button>
</p>
<p>

    @using (Html.BeginForm("Index", "Categories", FormMethod.Post))
    {
        <input class="col-md-3" value="@ViewBag.searchString" type="text" placeholder="Tim kiem" name="searchString" />
        <button type="submit" class="label-info">Search</button>

    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Tên danh mục sản phẩm")
        </th>
        <th>
            @Html.Label("Loại sản phẩm")
        </th>
        <th>
            @Html.Label("Ngày tạo")
        </th>
        <th>
            @Html.Label("Người tạo")
        </th>
        <th>
            @Html.Label("Ngày sửa")
        </th>
        <th>
            @Html.Label("Người sửa")
        </th>
        <th>
            @Html.Label("Trạng thái")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @if (item.Status)
                {
                    @Html.Label("Active")
                }
                else
                {
                    @Html.Label("Block")
                }
            </td>
            <td>
                <button type="button" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <button type="button" class="btn btn-info"> @Html.ActionLink("Details", "Details", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { style = "color:aliceblue" })</button>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action(("Index"), new { page, @searchString = @ViewBag.searchString }))