@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout2.cshtml";
}

<h2>Danh sach san pham</h2>
@section jsFooter{
    <script src="/Areas/Admin/AssetsAdmin/dist/js/Controller/ProductController.js"></script>
}
<p>
    <button type="button" class="btn btn-success"> @Html.ActionLink("Create New", "Create", null, new { style = "color:aliceblue" })</button>
</p>
<p>

    @using (Html.BeginForm("Index", "Products", FormMethod.Post))
    {
        <input class="col-md-3" value="@ViewBag.searchString" type="text" placeholder="Tim kiem" name="searchString" />
        <button type="submit" class="label-info">Search</button>

    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Tên sản phẩm")
        </th>
        <th>
            @Html.Label("Ảnh")
        </th>
        <th>
            @Html.Label("Giá")
        </th>
        <th>
            @Html.Label("VAT")
        </th>
        <th>
            @Html.Label("Số lượng")
        </th>
        <th>
            @Html.Label("Danh Mục")
        </th>
        <th>
            @Html.Label("Tạo bởi")
        </th>
        <th>
            @Html.Label("Trạng thái")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.Image" height="60" width="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IncludeVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @if (item.Status)
                {
                    @Html.Label("Active")
                }
                else
                {
                    @Html.Label("Block")
                }
            </td>
            <td>
                <button type="button" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <button type="button" class="btn btn-info"> @Html.ActionLink("Details", "Details", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <a href="#" class="btn-images" data-id="@item.ID">Ảnh</a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action(("Index"), new { page, @searchString = @ViewBag.searchString }))
<!-- The Modal -->
<div class="modal fade" id="imagesManage">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ảnh sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="imageList" style="margin:5px;">
                    
                </div>
                
            </div>
            <input type="hidden" id="hidProductID" value="0" />
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="button" id="btnChooseImages" value="Chọn ảnh" class="btn btn-primary" />
                <button type="button" class="btn btn-success" id="saveImages">Lưu</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>