@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout2.cshtml";
}

<h2>Danh sach san pham</h2>

<p>
    <button type="button" class="btn btn-success"> @Html.ActionLink("Create New", "Create", null, new { style = "color:aliceblue" })</button>
</p>
<p>

    @using (Html.BeginForm("Index", "Products", FormMethod.Post))
    {
        <input class="col-md-3" value="@ViewBag.searchString" type="text" placeholder="Tim kiem" name="searchString" />
        <button type="submit" class="label-info">Search</button>

    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Ten san pham")
        </th>
        <th>
            @Html.Label("Anh")
        </th>
        <th>
            @Html.Label("Gia")
        </th>
        <th>
            @Html.Label("Tang Gia")
        </th>
        <th>
            @Html.Label("Bao gom VAT")
        </th>
        <th>
            @Html.Label("So luong")
        </th>
        <th>
            @Html.Label("Category ID")
        </th>
        <th>
            @Html.Label("Tao boi")
        </th>
        <th>
            @Html.Label("Trang thai")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.Image" height="60" width="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionPrice)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IncludeVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @if (item.Status)
                {
                    @Html.Label("Active")
                }
                else
                {
                    @Html.Label("Block")
                }
            </td>
            <td>
                <button type="button" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <button type="button" class="btn btn-info"> @Html.ActionLink("Details", "Details", new { id = item.ID }, new { style = "color:aliceblue" })</button>
                <button type="button" class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { style = "color:aliceblue" })</button>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action(("Index"), new { page, @searchString = @ViewBag.searchString }))