@using Model.EF;
@using Model.Dao;    
@{
    ViewBag.Title = "Trang chu";
    Layout = "~/Views/Shared/_layoutC.cshtml";
    var ListProduct = (List<Model.EF.Product>)ViewBag.Products;
    var model = (List<Model.EF.Slide>)ViewBag.Slides;
    var listProduct1 = new ProductDao().ListAllByProductCategoryID(4);
    var listProduct2 = new ProductDao().ListAllByProductCategoryID(5);
    var listProduct3 = new ProductDao().ListAllByProductCategoryID(8);
    var listProduct4 = new ProductDao().ListAllByProductCategoryID(10);
    var listProduct5 = new ProductDao().ListAllByProductCategoryID(11);

    var listCategory1 = new CategoryDao().ListCategoryByID(4);
    var listCategory2 = new CategoryDao().ListCategoryByID(5);
    var listCategory3 = new CategoryDao().ListCategoryByID(8);
    var listCategory4 = new CategoryDao().ListCategoryByID(10);
    var listCategory5 = new CategoryDao().ListCategoryByID(11);

}
@section slide
{
<div class="header_slide">
    <div class="header_bottom_left">
        <div class="categories">
            <div id="menu">
                <ul>
                    <h3>Danh Mục Sản Phẩm</h3>
                    @{ Html.RenderAction("ListCategory", "Product");}
                </ul>
            </div>
        </div>
    </div>
    <div class="header_bottom_right">
        <div class="slider">
            <div id="slider">
               @{ Html.RenderAction("Slide", "Home");}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
}
<div class="content">
 <div class="clear"></div>
<div class="content_top">
    <div class="heading">
        <h4>Laptop và phụ kiện</h4>
    </div>
    <ul>
        @foreach (var item in listCategory1)
        {
            var url2= "/san-pham/" + item.MetaTitle + "-" + item.ID;
             <li><a href="@url2">@item.Name</a></li>
        }
    </ul>
    <div class="see">
        <p><a href="/danh-muc/Laptop-và-phụ-kiện-4">Tất cả sản phẩm </a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @if (listProduct1!=null)
    {
        var i = 0;
        foreach (var item in listProduct1)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_6 images_1_of_6">
                <a href="@url"><img src="@item.Image" style="width:250px; height:110px" alt="@item.Image" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/them-gio-hang?productID=@item.ID&quantity=1">Thêm vào giỏ</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            i++;
            if (i >= 12)
            {
                break;
            }
        }
    }

</div>
<div class="content_bottom">
    <div class="heading">
        <h4>PC gaming & PC đồng bộ</h4>
    </div>
    <ul>
        @foreach (var item in listCategory2)
        {
            var url2 = "/san-pham/" + item.MetaTitle + "-" + item.ID;
            <li><a href="@url2">@item.Name</a></li>
        }
    </ul>
    <div class="see">
        <p><a href="/danh-muc/PC-đồng-bộ-và-PC-gaming-5">Tất cả sản phẩm </a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @if (listProduct2 != null)
    {
        var i=0;
        foreach (var item in listProduct2)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_6 images_1_of_6">
                <a href="@url"><img src="@item.Image" style="width:295px; height:140px" alt="" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            i++;
            if(i>=4)
            {
                break;
            }
        }
    }

</div>
<div class="content_bottom">
    <div class="heading">
        <h4>Máy chủ & WorkStations</h4>
    </div>
    <ul>
        @foreach (var item in listCategory3)
        {
            var url2 = "/san-pham/" + item.MetaTitle + "-" + item.ID;
            <li><a href="@url2">@item.Name</a></li>
        }
    </ul>
    <div class="see">
        <p><a href="/danh-muc/Máy-chủ-và-Workstation-8">Tất cả sản phẩm </a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @if (listProduct3 != null)
    {
        var i = 0;
        foreach (var item in listProduct3)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_6 images_1_of_6">
                <a href="@url"><img src="@item.Image" style="width:295px; height:140px" alt="" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            i++;
            if (i >= 4)
            {
                break;
            }
        }
    }

</div>
<div class="content_bottom">
    <div class="heading">
        <h4>Linh kiện máy tính</h4>
    </div>
    <ul>
        @foreach (var item in listCategory4)
        {
            var url2 = "/san-pham/" + item.MetaTitle + "-" + item.ID;
            <li><a href="@url2">@item.Name</a></li>
        }
    </ul>
    <div class="see">
        <p><a href="/danh-muc/Linh-kiện-máy-tính-10">Tất cả sản phẩm </a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @if (listProduct3 != null)
    {
        var i = 0;
        foreach (var item in listProduct4)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_6 images_1_of_6">
                <a href="@url"><img src="@item.Image" style="width:295px; height:140px" alt="" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            i++;
            if (i >= 4)
            {
                break;
            }
        }
    }

</div>
<div class="content_bottom">
    <div class="heading">
        <h4>Tản nhiệt - cooling</h4>
    </div>
    <ul>
        @foreach (var item in listCategory5)
        {
            var url2 = "/san-pham/" + item.MetaTitle + "-" + item.ID;
            <li><a href="@url2">@item.Name</a></li>
        }
    </ul>
    <div class="see">
        <p><a href="/danh-muc/Tản-nhiệt-cooling-11">Tất cả sản phẩm </a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @if (listProduct3 != null)
    {
        var i = 0;
        foreach (var item in listProduct5)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_6 images_1_of_6">
                <a href="@url"><img src="@item.Image" style="width:295px; height:140px" alt="" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Thêm vào giỏ</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            i++;
            if (i >= 4)
            {
                break;
            }
        }
    }

</div>
</div>
